@model IEnumerable<Gym_Management.Models.Gym_Branch_1>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.B_Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.B_Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.B_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.B_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.B_id })
        </td>
    </tr>
}

</table>
