@model Gym_Management.Models.trainee

@{
    ViewBag.Title = "Trainee";
    Layout = "~/Views/Shared/_Layout2.cshtml";

}

<div class="row">

    <div class="col-md-2">
        <div style=" background-color: #1f5f6f; height:97vh ">
            <ul style="margin-top:0px;  text-decoration:none; list-style-type:none;text-align:left; padding:0px">
                <br />
                <li style="font-size:20px;color:white; margin:10px" class="active">
                    <i class="fa fa-tachometer" aria-hidden="true"></i>
                    @Html.ActionLink("DASHBOARD", "Welcome", "Home")
                </li>

                <li style="font-size: 20px; color: white; margin-top: 10px; margin: 10px">
                    <i class="fa fa-life-ring" aria-hidden="true"></i>
                    @Html.ActionLink("TRAINER", "Trainer", new { @class = "list-group-item" })
                </li>
                <li style="font-size: 20px; color: white; margin-top: 10px; margin: 10px">
                    <i class="fa fa-users" aria-hidden="true"></i>
                    @Html.ActionLink("TRAINEE", "TRAINEE", new { @class = "list-group-item" })
                </li>
                <li style="font-size: 20px; color: white; margin-top: 10px; margin: 10px">
                    <i class="fa fa-dot-circle-o" aria-hidden="true"></i>
                    @Html.ActionLink("EQUIPMENTS", "EQUIPMENTS", new { @class = "list-group-item" })
                </li>
                <li style="font-size: 20px; color: white; margin-top: 10px; margin: 10px">
                    <i class="fa fa-cutlery" aria-hidden="true"></i>
                    @Html.ActionLink("CHART", "CHART", new { @class = "list-group-item" })
                </li>

                <li style="font-size: 20px; color: white; margin-top: 10px; margin: 10px">
                    <i class="fa fa-building-o" aria-hidden="true"></i>
                    @Html.ActionLink("BRANCH", "Gym_Branch_Index", new { @class = "list-group-item" })
                </li>


                <li style="font-size: 20px; color: white; margin-top: 10px; margin: 10px">
                    <i class="fa fa-sign-out" aria-hidden="true"></i>
                    @Html.ActionLink("LOGOUT", "index", new { @class = "list-group-item" })
                </li>
            </ul>
        </div>
    </div>

    <div class="col-12 col-md-6">
        <div class="container-fluid" style="margin-top: 30px">
            <h2 style="color:white;">Trainee Records</h2>
            <table class="table table-responsive" style="color: black; background: rgba(256, 256, 256, 0.5); border: 1px solid white;  ">
                <thead>
                    <tr>
                        <th style="text-align:center">ID</th>
                        <th style="text-align:center">Trainee Name</th>
                        <th style="text-align:center">Contact</th>

                        <th style="text-align:center">Details</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in ViewData["list"] as List<Gym_Management.Models.trainee>)
                    {
                        <tr>
                            <td style="text-align:center">@item.trainee_id</td>
                            <td style="text-align:center">@item.trainee_name</td>

                            <td style="text-align:center">@item.trainee_contact</td>
                            <td style="text-align:center">
                                <a class="btn btn-primary btn-sm" href="@Url.Action("trainee_details",new {id=item.trainee_id })">
                                    View trainee details
                                </a>
                            </td>

                            <td style="text-align:center">
                                <a class="btn btn-primary btn-sm" href="@Url.Action("trainee_Edit",new {id=item.trainee_id })">
                                    Edit Trainee
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>

            </table>
        </div>


    </div>
</div>



<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
